/* FolderPage.css */

.folder-container {
    padding: 20px;
  }
  
  .heading {
    font-size: 32px;
    color: #9c27b0;
    margin-bottom: 20px;
  }
  
  .button-container {
    margin-bottom: 20px;
  }
  
  .button-link {
    text-decoration: none;
  }
  
  .button {
    background-color: #9c27b0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #7b1fa2;
  }
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 10px;
    text-align: center;
  }
  
  .remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  
  .remove-button:hover {
    background-color: #d32f2f;
  }
  