/* HomePage.css */

.home-container {
  padding: 20px;
  background-image: url('pkm2.jpg');
  background-repeat: repeat;
  background-size: 100%;
  height: 100vh;
}

.welcome-message {
  color: #9c27b0;
  font-size: 40px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 250px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}

.card-content {
  text-align: center;
}

.add-card {
  background-color: #f0f0f0;
  height: 200px;
  width: 250px;
  justify-content: space-around;
}

.add-icon {
  font-size: 50px;
  color: #9c27b0;
}

h6 {
  color: #9c27b0;
  font-weight: bold;
}

h5, p {
  margin: 0;
}

.loading, .login-message {
  text-align: center;
  font-size: 18px;
}

.login-message h2 {
  color: #333;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: darkred;
}