/* HomePage.css */

.home-container {
  padding: 20px;
  background-image: url('pkm2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-message {
  color: #9c27b0;
  font-size: 40px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-content {
  text-align: center;
}

.add-card {
  background-color: #f0f0f0;
  flex: 1 1 200px;
}

.add-icon {
  font-size: 50px;
  color: #9c27b0;
}

h6 {
  color: #9c27b0;
  font-weight: bold;
}

h5, p {
  margin: 0;
}

.loading, .login-message {
  text-align: center;
  font-size: 18px;
}

.login-message h2 {
  color: #333;
}
